/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body cubra toda la altura de la pantalla */
    background-color: black;
    color: white;
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../static/imagenes/Imageninclude.png'); /* Ruta a tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */ 

}

h1 {
    font-family: "Merriweather", serif;
}

/*tipografías */
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

/*header*/
.includeHeader {
    height: 80px;
    background-color: #212529;
    font-size: 18px;
}

.includeHeader .navbar-brand {
    font-size: 28px;
}

.navbar-nav .nav-item {
    margin-right: 16px;
}

.navbar-nav .nav-item .btn-group .btn-secondary {
    background-color: #212529;
    border: none;
    color: #FFFFFF8C;
    font-size: 18px;
    padding-top: 8px;
}

.navbar-nav .nav-item .btn-group .btn-secondary:hover {
    color: #ccc;
}

.navbar-nav .nav-item .btn-group .btn-secondary:active {
    color: #FFFFFF;
}

.navbar-nav .nav-item .btn-group .btn-secondary:focus-within {
    color: #FFFFFF;
}

.navbar-nav .nav-item .btn-group .dropdown-item {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

.navbar-nav .nav-item .btn-group li a:hover {
    background-color: #212529;
    color: #ccc;
}

.navbar-nav .nav-item .btn-group .dropdown-item.active {
    background-color: #212529 !important;
    color: #FFFFFF;
}

.navbar-nav .nav-item .btn-group li {
    border-bottom: #212529 1px solid;
}

.navbar-nav .nav-item .btn-group li:first-child {
    border-top: #212529 1px solid;
} 

.btn.btn-secondary.dropdown-toggle.active {
    color: #FFFFFF;
}


/* sección footer */

footer {
    margin-top: auto;
}

.includeFooter {
    background-color: rgb(31, 29, 29);
    color: #FFFFFF;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.includeFooter a {
    text-decoration: none;
    color: orangered;
    font-size: 12px;
    font-weight: 500;
}

.includeFooter p {
    margin-bottom: 0px;
}

.includeFooter span {
    margin-right: 12px;
}

/* Sección Bienvenida */
.seccion-bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding-top: 3rem;
}

.btn-primary {
    background-color: rgb(227, 178, 53);
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    padding: 8px;
}

.btn-primary:hover {
    background-color: rgb(138, 107, 28);
}

.btn-primary:active {
    background-color: rgb(138, 107, 28) !important;
}


.ingreso-container {
    padding-top: 24px;
    font-family: "Atkinson Hyperlegible", sans-serif;
    padding-bottom: 24px;
}

.registro-container {
    padding-top: 24px;
    font-family: "Atkinson Hyperlegible", sans-serif;
    padding-bottom: 24px;
}

/* estilos de la página servicios*/

.imagen-servicio {
    background-color: #F7F7F7;
    border-radius: 50px;
    height: 350px;
    width: 350px;
}

.titulo-servicios a p {
    font-family: "Merriweather", serif;
    color: #FFFFFF;
    font-size: 24px;
    padding-top: 2rem;
    font-weight: 700;
}

.titulo-servicios a {
    text-decoration: none;
}

.voice-assistance {
    width: 200px;
    padding-bottom: 24px;
    padding-top: 12px;
}

.seccion-audiolibros p, .seccion-podcast p, .seccion-cursos p {
    font-size: 20px;
    font-family: "Atkinson Hyperlegible", sans-serif;
}

#colecciones-podcast p, #colecciones-audiolibros p, #colecciones-cursos p {
    font-size: 22px;
}

.bg-white {
    background-color: #FFFFFF;
}

.sector-img-servicio {
    border-radius: 360px;
    width: 300px;
    height: 300px;
}

.img-servicio {
    width: 200px;
}

/* Estilos para las diferentes resoluciones */
.resolucion {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.resolucion .desktop,
.resolucion .tablet,
.resolucion .mobile {
    width: 30%;
    height: 50px;
    background-color: white;
}

.resolucion .desktop {
    display: none;
}

.resolucion .tablet {
    display: none;
}

.resolucion .mobile {
    display: none;
}

form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Mostrar los contenedores según el tamaño de la pantalla */
@media (min-width: 1200px) {
    .resolucion .desktop {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .resolucion .tablet {
        display: block;
    }
}

@media (max-width: 767px) {
    .resolucion .mobile {
        display: block;
    }
}
