<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Tipografía-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!--Íconos-->
    <script src="https://kit.fontawesome.com/a02e669bbc.js" crossorigin="anonymous"></script>
    <!--Styles-->
    <link rel="stylesheet" href="../static/styles.css">
    <!--favicon-->
    <link rel="icon" href="../static/imagenes/Imageninclude.png" type="image/x-icon">
    <!--título-->
    <title>PAGINA Usuario </title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark includeHeader">
            <div class="container-fluid">
                <a class="navbar-brand merriweather-black" href="/">INCLUDE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto merriweather-regular">
                        <li class="nav-item">
                            <a class="nav-link" href="/miPerfil">Mi Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/favorito">Favoritos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sobre-include">SOBRE INCLUDE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto">CONTACTO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='/logout'>Salir</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main> 
        <section class="titulo-servicios">
            <h1 class="text-center mt-4" id="welcome-message" title="BIENVENIDO"> ¡ BIENVENIDO { {usuario} }!</h1>
            <p></p>
            <div class="container">
                <div class="row">
                    <div class="col-3 d-flex justify-content-center text-center">
                        <a href="/audioLibro">
                            <div class="imagen-servicio rounded-circle d-flex align-items-center justify-content-center">
                                <img src="../static/imagenes/audiolibro.jpeg" id="curso-image" alt="Audiolibros" width="250px" height="200px">
                            </div>
                            <p>AUDIOLIBROS</p>
                        </a>
                    </div>
                    <div class="col-3 d-flex justify-content-center text-center">
                        <a href="/cursos_usurio">
                            <div class="imagen-servicio rounded-circle d-flex align-items-center justify-content-center">
                                <img src="../static/imagenes/curso.jpeg" id="podcast-image" alt="Cursos" width="250px" height="200px">
                            </div>
                            <p>CURSOS</p>
                        </a>
                    </div>
                    <div class="col-3 d-flex justify-content-center text-center">
                        <a href="/podcast_usuario">
                            <div class="imagen-servicio rounded-circle d-flex align-items-center justify-content-center">
                                <img src="../static/imagenes/podcast.jpeg" id="podcast-image" alt="Podcast" width="250px" height="200px">
                            </div>
                            <p>PODCAST</p>
                        </a>
                    </div>
                    <div class="col-3 d-flex justify-content-center text-center">
                        <a href="/lector_usuario">
                            <div class="imagen-servicio rounded-circle d-flex align-items-center justify-content-center">
                                <img src="../static/imagenes/audiolibro.jpeg" id="lector-image" alt="Lector" width="250px" height="200px">
                            </div>
                            <p>LECTOR</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-12 d-flex justify-content-center pt-5">
                <div class="voice-assistance">
                    <button id="start-listening" class="btn btn-primary">Asistencia de Voz</button>
                </div>
            </div>
        </div>
    </div>
    </main>
    <footer>
        <div class="includeFooter">
            <div class="container">
                <div class="row">
                    <div class="col-4 offset-4">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <p class="text-center">INCLUDE - 2024 <br> Todos los derechos reservados</p>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <span><a href="/normas">NORMAS DE USO</a></span> <span><a href="/sobre-include">SOBRE INCLUDE</a></span> <span><a href="/contacto">CONTACTO</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <p>Dirección: <a href="https://maps.app.goo.gl/eVeUk7yGMNwUq8CV9">Av. Belgrano 637</a></p>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <p>Email: <a href="mailto:include_argentina@gmail.com">include_argentina@gmail.com</a></p>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <p>Teléfono: 1163244789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script  src="{{ url_for('static', filename='js/bienvenido.js') }}"> </script>
</body>
</html>

